{% extends 'personel/base.html' %}

{% block title %}

{% endblock  %}

{% block content %}

<!-- #10934F -->
<!-- #FFCC00 -->
<!-- #bb2124 -->

<div class="flex mt-7 justify-between">
    <div class="flex gap-10">
        <a href="#" class="text-sm ">Dashboard</a>
        <a href="#" class="text-sm border-b-3 border-[#10934F]">Student</a>
        <a href="#" class="text-sm">Guest</a>
    </div>


    <div>
        <button class="bg-[#bb2124] hover:bg-[#bb2124]/80 cursor-pointer text-sm text-white px-10 py-1"
                type="button"
                 onclick="document.getElementById('endAllModal').classList.remove('hidden')" >
                END ALL
        </button>

        <!-- Confirmation Modal -->
        <div id="endAllModal" class="hidden fixed inset-0 bg-black/80 flex items-center justify-center z-50">
            <div class="bg-white  shadow-lg p-6 w-full max-w-md">
                <h2 class="text-lg font-semibold text-gray-800">Confirm Action</h2>
                <p class="mt-2 text-gray-600">Are you sure you want to <b>cancel all</b> pending and skipped appointments?</p>
                
                <div class="mt-6 flex justify-end gap-3">
                    <!-- Cancel Button -->
                    <button 
                        class="px-4 py-2 text-sm bg-gray-300 hover:bg-gray-400 cursor-pointer"
                        onclick="document.getElementById('endAllModal').classList.add('hidden')">
                        No, Keep
                    </button>

                    <!-- Confirm Form -->
                    <form method="post" action="{% url 'end_all_appointments' %}">
                        {% csrf_token %}
                        <button type="submit" 
                            class="px-4 py-2 text-sm bg-[#bb2124] cursor-pointer text-white  hover:bg-[#bb2124]/80">
                            Yes, End All
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
</div>

<section id="student" class="flex mt-6 gap-8">
    <!-- left -->
    <div class="flex flex-col bg-white flex-1 p-3  max-w-[314px]  text-center shadow-[0_4px_10px_rgba(0,0,0,0.6)]">
        <!-- current -->
        <h2 class="text-gray-700 text-sm font-semibold ">
                    Current Serving Number
        </h2>
        {% if get_current_number %}
            <div class="min-h-[200px] flex justify-center items-center ">

                <div class="flex items-center "> 
                    <p class="text-[#10934F]  
                        text-9xl medula-one-regular  text-shadow-lg/30">
                    {{ get_current_number.ticket_number }}
                    </p>
                </div>
            </div>
        {% else %}
            <div class="min-h-[200px] flex flex-col  justify-center items-center ">
                <div class="flex flex-col items-center gap-4 ">
                    <p class="text-gray-500 text-sm ">
                    No request appointment now
                    </p>
                    <form action="{% url 'personel' %}" method="POST">
                        {% csrf_token %}
                        <button class="bg-[#10934F] hover:bg-[#10934F]/80 text-sm text-white px-17 py-2 cursor-pointer"
                            type="submit" name="start" value="start">
                            Start
                        </button>
                    </form>
                    
                </div>
            </div>
        {% endif %}        

        <div class="border-1 border-gray-400 "></div>

        <div class="flex-col ">
            <!-- <h1 class="text-center text-base font-bold text-[#10934F]">Waiting List</h1> -->
            <h1  class="text-center mt-2 px-4 py-2  text-base font-bold text-white bg-[#76B3ED]">Waiting List</h1>

            <table class="w-full mt-4  ">
                    <thead class="text-base">
                        
                        <tr class="" >
                            <th class="text-left px-4 py-1">Full Name</th>
                            <th class="text-center px-4 py-1">Number</th>
                        </tr>
                    </thead>
                    <tbody class=" ">
                        {% for display_queue in display_queues  %}
                        <tr class="bg-[#76B3ED]/20 {% if display_queue.status == 'standby' and display_queue.is_priority == 'no'  %} bg-[#FFCC00]/20 
                                                    {% elif display_queue.status == 'standby' and display_queue.is_priority == 'yes'  %} bg-[#ED7676]/20
                                                    {% else %}bg-[#76B3ED]/20
                                                    {% endif %} ">  <!-- Highlight first -->
                            <td class="text-left text-sm px-4 py-2 ">{{ display_queue.firstName }} {{ display_queue.middleName }} {{ display_queue.lastName }}</td>
                            <td class="px-4 py-2 text-sm ">{{ display_queue.ticket_number }}</td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
        </div>
        

    </div>

   


    <!-- right  -->
     
    <div class="flex-1">
        <div class=" bg-white shadow-[0_4px_10px_rgba(0,0,0,0.6)] min-h-[200px]">
            <div class="bg-[#10934F] text-white text-base p-2 text-center">
                <h2>Information</h2>
            </div>
            <div class="mx-4 ">
                <table class="w-full border-collapse mt-4">
                    <thead class="text-base">
                        <tr class="border-b border-[#DEDEDE]">
                            <th class="text-left px-4 py-2">ID Number</th>
                            <th class="text-left px-4 py-2">Full Name</th>
                            <th class="text-left px-4 py-2">Course</th>
                            <th class="text-left px-4 py-2">Request</th>
                        </tr>
                    </thead>
                    <tbody class="text-sm">
                        {% if get_current_number %}
                        <tr>
                            <td class="px-4 py-2 ">{{ get_current_number.idNumber }}</td>
                            <td class="px-4 py-2 ">{{ get_current_number.firstName }} {{ get_current_number.middleName }}. {{ get_current_number.lastName }}</td>
                            <td class="px-4 py-2 ">{{ get_current_number.courses }}</td>
                            <td class="px-4 py-2">{{ get_current_number.requestType }}</td>
                        </tr>
                        {% else %}
                        <tr>
                            <td class="px-4 py-2 text-center " colspan="4">NO REQUEST RIGHT NOW</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>

            <div class="flex justify-center mt-5 px-4 text-sm">
                <form action="{% url 'done_current_number' %}" method="post">
                    {% csrf_token %}
                    <div class="flex gap-8">
                        {% if get_current_number %}
                            <input type="hidden" name="ticket_number" value="{{ get_current_number.id }}" >
                            <button type="submit" name="action" value="done"
                                class="bg-[#10934F] hover:bg-[#10934F]/80  text-white px-10 py-1 cursor-pointer" >
                            Done</button>
                            <button  type="submit" name="action" value="skip"
                            class="bg-[#FFCC00] hover:bg-[#FFCC00]/80  text-black px-10 py-1 cursor-pointer" >Skip</button>
                        {% endif %}
                    </div>
                
                </form>
            </div>
        </div>  
        
        <!-- skip and priority -->

        <div class="mt-6 flex gap-4">
            <div class="flex-1 min-h-[418px] bg-white flex flex-col justify-between shadow-[0_4px_10px_rgba(0,0,0,0.6)]"> 
                <!-- Header -->
                <div class="bg-[#FFCC00] text-black p-2 text-center">
                    <h2 class="font-semibold tracking-wide">SKIPPED LIST</h2>
                </div>

                <!-- Table in the middle -->
                <div class="flex-1 flex justify-center items-start overflow-y-auto">
                    <table class="w-full mt-2">
                        <thead class="text-base">
                            <tr>
                                <th class="text-left px-4 py-2">Full Name</th>
                                <th class="text-left px-4 py-2">Number</th>
                                <th class="text-left px-4 py-2">Action</th>
                            </tr>
                        </thead>
                        <tbody class="text-sm">
                            {% for skip_non_priority_student in skip_non_priority_students %}
                                <tr class="">
                                    <td class="px-4 py-2">{{ skip_non_priority_student.firstName }} {{ skip_non_priority_student.middleName }}. {{ skip_non_priority_student.lastName }}</td>
                                    <td class="px-4 py-2">{{ skip_non_priority_student.ticket_number }}</td>
                                    <td class="px-4 py-2">
                                        <form action="{% url 'standby' %}" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="ticket_number" value="{{skip_non_priority_student.id}}">
                                            <button type="submit" name="action" value="standby"
                                                class="bg-[#FFCC00] hover:bg-[#FFCC00]/80 p-1 cursor-pointer  w-full ">
                                                Standby
                                            </button>
                                        </form>
                                        
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- priority -->
             <div class="flex-1 min-h-[418px] bg-white flex flex-col justify-between shadow-[0_4px_10px_rgba(0,0,0,0.6)]"> 
                <!-- Header -->
                <div class="bg-[#ED7676] text-white p-2 text-center">
                    <h2 class="font-semibold tracking-wide">PRIORITY QUEUE’S</h2>
                </div>

                <!-- Table in the middle -->
                <div class="flex-1 flex justify-center items-start overflow-y-auto">
                    <table class="w-full mt-2">
                        <thead class="text-base">
                            <tr>
                                <th class="text-left px-4 py-2">Full Name</th>
                                <th class="text-left px-4 py-2">Number</th>
                                <th class="text-left px-4 py-2">Action</th>
                            </tr>
                        </thead>
                        <tbody class="text-sm">
                            {% if priority_students %}
                                {% for priority_student in priority_students %}
                                    <tr class="">
                                        <td class="px-4 py-2">{{ priority_student.firstName }} {{ priority_student.middleName }} {{ priority_student.lastName }}</td>
                                        <td class="px-4 py-2">{{ priority_student.ticket_number }}</td>
                                        <td class="px-4 py-2">
                                            <form action="{% url 'priority_standby' %}" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="ticket_number" value="{{priority_student.id}}">
                                                <!-- <input type="hidden" name="ticket_number" value="{{priority_student.ticket_number}}"> -->
                                                <button type="submit" name="action" value="standby"
                                                    class="bg-[#FFCC00] hover:bg-[#FFCC00]/80 p-1 cursor-pointer  w-full ">
                                                    Standby
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}    
                            {% else %}
                                <tr class="">
                                    <td class="px-4 py-2 text-center" colspan="3">No Pending Right Now</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>



        </div>



    </div>

    
</section>    




{% endblock  %}