<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
</head>
<body>

    <!-- Display flash messages -->
    {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    <form action="{% url 'auth_login' %}" method="post">
        {% csrf_token %}
        <div>
            <label for="username">USERNAME</label>
            <input type="text" name="username" required>
        </div>
        <div>
            <label for="password">PASSWORD</label>
            <input type="password" name="password" required>
        </div>

        <button type="submit">LOGIN</button>
    </form>
    
</body>
</html>
